{% extends 'base.html' %}
{% block main %}
<div class="searchbar">
    <form name="ip_input" action="" method="get">
        <input type=text name=ip1 maxlength=3 class=a3 onchange="verifyIP(this)">.
        <input type=text name=ip2 maxlength=3 class=a3 onchange="verifyIP(this)">.
        <input type=text name=ip3 maxlength=3 class=a3 onchange="verifyIP(this)">.
        <input type=text name=ip4 maxlength=3 class=a3 onchange="verifyIP(this)">.
        <input type="submit" >
    </form>
</div>
<script>
    function verifyIP(obj) {
        var ip = obj.value
        if (ip > 255 || ip < 0) {
            alert("ip 不正确")
        }
    }
</script>
{% endblock main %}